<ion-header>
  <ion-toolbar>
    <ion-title>Pagina di accesso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bicolor-reverse">
    <div id="filter"></div>
  </div>
  <div>
    <div class="form-card">
      <div id="north-side">
        <img id="intell" src="../../../assets/images/intellitronika-symbol.svg" alt="">
        <div id="under-img"></div>
        <h1>login</h1>
      </div>
      <div style="width: 100%; display: flex; align-items: center; flex-direction: column;">
        <ion-label>Nome utente</ion-label>
        <ion-input placeholder="nome.cognome" class="custom"></ion-input>
        <ion-label>Password</ion-label>
        <ion-input placeholder="password" type="password" class="custom"></ion-input>
        <button id="enter">entra</button>
      </div>

    </div>
  </div>

</ion-content>
