<ion-header>
  <ion-toolbar>
    <ion-title>Pagina di accesso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bicolor-reverse">
    <div style="width: 100%; height: 100%; background-color: rgba(0, 0, 255, 0.192);"></div>
  </div>
  <div class="form-card">
    <div style="display: flex; justify-content: center; align-items: center; flex-direction: column; margin-bottom: 2em;">
      <img id="intell" src="../../../assets/images/intellitronika-symbol.svg" alt="">
      <div id="under-img"></div>
      <h1>login</h1>
    </div>
    <ion-label>Nome utente</ion-label>
    <ion-input placeholder="Nome.cognome" class="custom"></ion-input>
    <ion-label>Password</ion-label>
    <ion-input placeholder="Password aziendale" type="password" class="custom"></ion-input>
    <button id="enter">entra</button>
  </div>
</ion-content>
