

.bicolor-reverse {
  height: 100%;
  // background-color: white;
  // background-image: linear-gradient(19deg, var(--aqua) 50%, rgb(255, 255, 255) 50%);
  overflow-x: hidden !important;
  display: flex;
  justify-content: center;
  align-items: center;
  //background-image: url("../../../assets/images/login/anna-dziubinska-mVhd5QVlDWw-unsplash.jpg");
  background-image: url("../../../assets/images/login/chris-barbalis-7H6_jhXCbkQ-unsplash.jpg");
  //background-image: url("../../../assets/images/login/davide-ragusa-gcDwzUGuUoI-unsplash.jpg");
  //background-image: url("../../../assets/images/login/eddi-aguirre-Qglg6kUrCCw-unsplash.jpg");
  //background-image: url("../../../assets/images/login/hiurich-granja-k579uI6E2Uw-unsplash.jpg");
  //background-image: url("../../../assets/images/login/jacek-dylag-PMxT0XtQ--A-unsplash.jpg");
  //background-image: url("../../../assets/images/login/safwan-mahmud-6xQFm9TFwmk-unsplash.jpg");
  // background-image: url("../../../assets/images/login/suganth-yAV-5jb1pyA-unsplash.jpg");
  // background-image: url("../../../assets/images/login/timon-studler-ABGaVhJxwDQ-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

#filter {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.192);
  background-color: rgba(0, 0, 255, 0.192);
  animation-name: changefilter;
  animation-duration: 3s;
}


.form-card {

  #north-side {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2em;

    #logo {
      display: none;
    }

    #under-img {
      width: 150px;
      height: 3px;
      background-color: #0093E9;
      background-image: linear-gradient(90deg, #0093E9 0%, #80D0C7 100%);
      margin-top: 2em;
    }

    h1 {
      color: rgba(0, 0, 0, 0.534);
      text-transform: capitalize;
      margin-top: 1em;
      letter-spacing: 0.3em;
      font-size: 300%;
    }
  }

  ion-label {
    color: #0093E9;
    letter-spacing: 3px;
    margin-top: 10px;
    font-size: 130%;
  }

  animation-name: changecardw;
  animation-duration: 3s;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 20%;
  height: 60%;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  padding: 1em 15px;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 10px;
  border: 2px solid rgba(0, 102, 255, 0.226);
  border-style: outset;

  #enter {
    padding: 1em 2em;
    text-transform: uppercase;
    border-radius: 25px;
    letter-spacing: 3px;
    margin: 1em;
    color: white;
    font-weight: 900;
    background-color: #0093E9;
    background-image: linear-gradient(40deg, #0093E9 0%, #80D0C7 100%);

    &:hover {
      background-color: #0093E9;
      background-image: linear-gradient(120deg, #0093E9 0%, #80D0C7 100%);
      transform: scale(0.9);
      transition-duration: 0.3s;
    }
  }

}


#intell {
  width: 30%;
  padding-top: 2em;
}

ion-input.custom {
  --background: #eefbff;
  --color: black;
  --placeholder-color: black;
  --padding-bottom: 25px;
  --padding-end: 10px;
  --padding-start: 10px;
  --padding-top: 25px;
  --border-bottom: 1px solid black;
}

@keyframes changecardw {
  0% {
    height: 0%;
    background-color: rgba(255, 255, 255, 0.308);
  }


}


@keyframes changefilter {
  0% {
    width: 0%;
    background-color: rgba(255, 0, 0, 0.050);
  }

  10% {
    width: 10%;
    background-color: rgba(255, 0, 0, 0.100);

  }

  20% {
    width: 20%;
    background-color: rgba(255, 0, 0, 0.150);
  }
}

@media screen and (max-width: 1350px) {

  .form-card {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .form-card {
    width: 80%;
    height: 80%;
    animation-duration: 5s;
  }
}
