<ion-header>
  <ion-toolbar>
    <ion-title>Dettaglio gruppo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content matRipple [matRippleColor]="central.color">
  <div class="bicolor" style="display: flex; align-items: center;">
    <button style="position: absolute; left: 0; top: 0;" class="txt-capital purple-btn" routerLink="/tabs/gruppi">
      <ion-icon name="arrow-back-outline"></ion-icon>
      indietro
    </button>

    <div style="display: flex; justify-content: center; flex-wrap: wrap; width: 100vw;">
      <div class="left">
        <div id="card">
          <div *ngFor="let group of central.groups">
            <div id="header" *ngIf="group.id === this.iddi" style="position: relative;">
              <div>
                <h1>{{group.name}}</h1>
                <h5 style="color: rgba(255, 255, 255, 0.897);">{{group.description}}</h5>
              </div>
              <img id="icon-mod" src="../../../assets/images/people-roof-solid.svg" alt="icon set group">
            </div>
            <div id="content" *ngIf="group.id === this.iddi">
              <ul id="parametri">
                <li><span>Ruolo: </span><span>{{group.role}}</span></li>
                <li><span>id: </span><span>{{group.id}}</span></li>
              </ul>
              <span>partecipanti:</span>
              <div *ngFor="let user of central.users" style="display: inline;">
                <div *ngIf="user.group === this.iddi" style="display: inline;">
                  <ul id="partecipanti">
                    <li>
                      <h2 class="txt-capital" style="color: gray; display: inline; margin: 0; padding: 0;">
                        {{user.name}} {{user.surname}}
                      </h2>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

</ion-content>
