<ion-header>
  <ion-toolbar>
    <ion-title>Dettaglio Utente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollbar matRipple [matRippleColor]="central.color"
>

  <div class="bicolor" style="height: 100vh;">
    <div>
      <button class="txt-capital purple-btn" routerLink="/tabs/utenti">
        <ion-icon name="arrow-back-outline"></ion-icon>
        indietro
      </button>
    </div>

    <div style="display: flex; justify-content: center; flex-wrap: wrap; width: 100vw;">
      <div class="left" style="margin: 0;">
        <div id="card">
          <div *ngFor="let item of central.users">
            <div id="header" *ngIf="item.id === this.iddi" style="position: relative;">
              <h1>{{item.name}}</h1>
              <h4>{{item.surname}}</h4>
              <img id="icon-mod" src="../../../assets/images/user-mod.svg" alt="icon mod user">
            </div>
            <div id="content" *ngIf="item.id === this.iddi">
              <ul>
                <li><span>username: </span><span>{{item.username}}</span></li>
                <li><span>id: </span><span>{{item.id}}</span></li>
                <li><span>gruppo: </span><span>{{item.group}}</span></li>
                <li><span>mail: </span><span>{{item.mail}}</span></li>
                <li><span>telefono: </span><span>{{item.phone}}</span></li>
                <li><span>compleanno: </span><span>{{item.birthDate}}</span></li>
                <li><span>luogo di nascita: </span><span>{{item.birthPlace}}</span></li>
                <li><span>password: </span><span>{{item.password}}</span></li>
                <li><span>indirizzo: </span><span>{{item.address}}</span></li>
                <li><span>cod. fiscale: </span><span>{{item.taxId}}</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</ion-content>
