<ion-tabs>

  <ion-tab-bar slot="bottom" class="">
    <ion-tab-button tab="tab1">
      <img src="../../assets/images/user-group-solid.svg" class="icon-tab" alt="">
      <ion-label>Gruppi</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <img src="../../assets/images/user-solid.svg" class="icon-tab" alt="">
      <ion-label>Persone</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <img src="../../assets/images/user-shield-solid.svg" class="icon-tab" alt="">
      <ion-label>Ruoli</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
