<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Persone
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <table>
    <tr id="labels">
      <th *ngFor="let i of central.users_labels" style="width: 20vw; text-align: start;">{{i}}</th>
    </tr>
    <tr *ngFor="let i of central.users">
      <td>{{i.id}}</td>
      <td>{{i.name}}</td>
      <td>{{i.surname}}</td>
      <td>{{i.username}}</td>
      <td>{{i.mail}}</td>
      <td>{{i.group}}</td>
    </tr>
  </table>
</ion-content>
