<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Gruppi
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <table>
    <tr id="labels">
      <th *ngFor="let i of central.groups_labels" style="width: 20vw; text-align: start;">{{i}}</th>
    </tr>
    <tr *ngFor="let i of central.groups">
      <td>{{i.id}}</td>
      <td>{{i.name}}</td>
      <td>{{i.role}}</td>
      <td>{{i.description}}</td>
    </tr>
  </table>
</ion-content>
