<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Gruppi
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true" class="ion-padding">
  <div *ngIf="central.error"
    style=" padding:1em ;text-align: center; color: white; background-color: rgb(255, 115, 115);">
    ERROR
    <ion-icon name="close-circle-outline" (click)="central.error = null"
      style="margin-left: 5px; cursor: pointer;"></ion-icon>
  </div>

  <div style="display: flex; flex-wrap: wrap;">

    <button id="new-group-btn" class="purple-btn">aggiungi un nuovo
      gruppo</button>
    <ion-popover trigger="new-group-btn">
      <ng-template>
        <ion-content class="ion-padding">
          <form #f="ngForm" (submit)="central.addGroup(f)" class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Nome</mat-label>
              <input matInput placeholder="Es. Mario" name="name" [ngModel] required>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Ruolo</mat-label>
              <input matInput placeholder="Es. 0" name="role" [ngModel] required>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Descrizione</mat-label>
              <input matInput placeholder="Es. gruppo del dopolavoro" name="description" [ngModel] >
            </mat-form-field>

            <button class="green-btn" type="submit">
              Conferma
            </button>
          </form>

        </ion-content>
      </ng-template>
    </ion-popover>

  </div>

  <table>
    <tr id="labels">
      <th *ngFor="let i of central.groups_labels" style="width: 20vw; text-align: start;">{{i}}</th>
    </tr>
    <tr *ngFor="let i of central.groups" style="position: relative;">
      <td>{{i.id}}</td>
      <td class="txt-capital td-hover" [routerLink]="['tabs/tab1/infogroup', i.id]">Gruppo {{i.name}}</td>
      <!-- <td>{{i.role}}</td> -->
      <td>{{i.description}}</td>
      <td>{{i.role}}</td>
      <ion-icon class="trash" name="trash-outline" (click)="central.deleteGroups(i)" [style.display]="i.role < 4 ? 'none' : null"></ion-icon>
    </tr>
  </table>
</ion-content>
