// FORM ion-popover
.example-form {
    width: 100%;
}

.example-full-width {
  width: 100%;
}

//round form
#border-spin {
    animation: rotate linear 15s infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

#circle-form {
  z-index: 2;
  box-shadow: 5px 10px 15px #00000062;
  padding: 25px;
  border-radius: 10px;
  background-color: var(--glass_filter);
}

//password field
.example-container mat-form-field+mat-form-field {
    margin-left: 8px;
}

.example-right-align {
    text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
    display: none;
}
