:root {
  --purple: #a6a6ff;
  --aqua: #27e1ce;
  --sunset_pastel: #ff7514;
  --red_pastel: rgb(253, 143, 143);
  --border_label: rgba(250, 250, 250, 0.582);
  --table_color: #21abab8d;
  --glass_filter: rgba(9, 165, 255, 0.205);
  // --red_pastel: rgb(255, 156, 156);
  // --purple: #B721FF;
  // --aqua: #8ef6e4;
}
