:root {
  --purple: rgb(166, 166, 255);
  --aqua: #27e1ce;
  --red_pastel: rgb(253, 143, 143);
  --border_label: rgba(250, 250, 250, 0.582);
  --table_color: rgb(39, 205, 206);
  // --red_pastel: rgb(255, 156, 156);
  // --purple: #B721FF;
  // --aqua: #8ef6e4;
}
