//TABELLE
th {
  position: relative;
}

.tr-bg {

  &:hover {
      background-color: rgba(255, 255, 255, 0.479);
  }
}

table {
    margin: 3em;
    background-color: var(--table_color);
    box-shadow: 5px 10px 15px #00000062;
    position: absolute;
    z-index: 1;
    width: 90%;
    margin-left: 5%;

    .labels {
        border: 3px solid var(--border_label);
        margin-bottom: 200px;
        text-transform: capitalize;
        color: white;

        th {
            width: 25%;
            text-align: start;
            text-transform: uppercase;
            letter-spacing: 1px;
            border-left: 3px solid var(--border_label);
        }

        span {
            background-color: var(--red_pastel);
            padding: 5px;
            padding-right: 17px;
        }
    }

    td:first-child {
        padding-left: 10px;
    }

    th:last-child {
        padding-right: 10px;
    }

    tr {
        height: 60px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.445);
        cursor: pointer;
    }

    .trash {
        padding: 0.5em;
        cursor: pointer;
        color: red;
        background-color: rgb(255, 255, 255);

        &:hover {
            color: rgb(255, 255, 255);
            background-color: red;
            transition-duration: 0.1s;
            transform: scale(1.2);
            font-weight: bold;
        }
    }
}

th:first-child {
    .sticker {
        display: block;
    }
}
