<ion-header>
  <ion-toolbar>
    <ion-title>Modifica gruppo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bicolor" style="display: flex; justify-content: center; align-items: center;">
    <button matRipple [matRippleColor]="central.color" style="position: absolute; left: 0; top: 0;" class="txt-capital purple-btn" routerLink="/tabs/gruppi">
      <ion-icon name="arrow-back-outline"></ion-icon>
      indietro
    </button>

    <div class="right" style="margin: 0;">
      <div style="display: flex;">
        <div style="display: flex; justify-content: center; position: relative; padding: 3em;">
          <div id="circle-form">
            <form #g="ngForm" (submit)="central.editGroup(g, iddi)">
              <mat-form-field class="example-full-width">
                <mat-label>Rinomina gruppo</mat-label>
                <input matInput placeholder="Es. Dopolavoro" name="name" [ngModel]>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Nuova descrizione</mat-label>
                <textarea matInput placeholder="Es. Gruppo sportivo per..." name="description" [ngModel]></textarea>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Nuovo ruolo</mat-label>
                <mat-select name="role" [ngModel]>
                  <mat-option *ngFor="let role of central.roles" value="{{role.id}}">
                    <span class="txt-capital">{{role.title}}</span>
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <ion-row style="display: flex; justify-content: end;">
                <button matRipple [matRippleColor]="central.color" class="purple-btn confirm" type="submit">
                  <span>Conferma</span>
                  <ion-icon style="font-size: 120%;" name="checkmark-circle-outline"></ion-icon>
                </button>
              </ion-row>

            </form>
          </div>
          <img id="border-spin" style="position: absolute; top: -40px; width: 800px; z-index: 1;"
            src="../../../assets/images/3.png" alt="">
        </div>
      </div>

    </div>
  </div>
</ion-content>
