/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/*
TABELLE
*/

/*

table {
  width: 100vw;
}

tr {
  display: inline;
  border-bottom: 1px solid white;
}

th {
  width: 20%;
  text-transform: uppercase;
  color: rgb(255, 122, 122);
  // background-color: #FFE53B;
  // background-image: linear-gradient(253deg, #FFE53B 0%, #FF2525 74%);
}

td {
  width: 20vw;
  height: 50px;
  padding-left: 10px;
}

.td-hover {
  &:hover {
    background-color: rgba(255, 255, 255, 0.315);
    cursor: pointer;
  }
}
*/


//TABELLE

.tr-bg {

  &:hover {
    background-color: rgba(255, 255, 255, 0.479);
  }
}

table {
  margin: 3em;

  .labels {
    border: 3px solid white;
    margin-bottom: 200px;
    color: rgb(255, 156, 156);
    text-transform: capitalize;

    th {
      width: 25%;
      text-align: start;
    }
  }

  th:first-child,
  td:first-child {
    padding-left: 10px;
  }

  tr {
    height: 60px;
    border-bottom: 1px solid white;
    cursor: pointer;
  }

  .trash {
    padding: 0.5em;
    cursor: pointer;
    color: red;
    background-color: rgb(255, 255, 255);
    margin-right: -25px;

    &:hover {
      color: rgb(255, 255, 255);
      background-color: red;
      transition-duration: 0.1s;
      transform: scale(1.2);
      font-weight: bold;
    }
  }
}

// FORM
.example-form {
  min-width: 150px;
  max-width: 200px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.txt-capital {
  text-transform: capitalize;
}


.purple-btn, .conf {
  background-color: rgb(166, 166, 255);
  padding: 1em;
  margin: 1em;
  text-transform: uppercase;

  &:hover {
    background-color: rgb(141, 141, 218);
    transform: scale(0.9);
    transition-duration: 0.2s;
  }
}

.conf {
  border-radius: 15px;
  margin: 0;
}
