/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/*
TABELLE
*/

table {
  width: 100vw;
}

tr {
  display: inline;
  border-bottom: 1px solid white;
}

th {
  width: 20%;
  padding: 1em;
  text-transform: uppercase;
  border-left: 1px solid white;
  color: rgb(255, 122, 122);
  // background-color: #FFE53B;
  // background-image: linear-gradient(253deg, #FFE53B 0%, #FF2525 74%);
}

td {
  width: 20vw;
  height: 50px;
  padding-left: 10px;
}

.trash {
  position: absolute;
  right: 30px;
  cursor: pointer;
  color: red;
  margin-top: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 10px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.836);
  }
}

.td-hover {
  &:hover {
    background-color: rgba(255, 255, 255, 0.315);
    cursor: pointer;
  }
}

// FORM
.example-form {
  min-width: 150px;
  max-width: 200px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.txt-capital {
  text-transform: capitalize;
}


.purple-btn, .green-btn {
  background-color: rgb(166, 166, 255);
  padding: 1em;
  margin: 1em;
  border-radius: 3px;
  text-transform: uppercase;

  &:hover {
    background-color: rgb(141, 141, 218);
    transform: scale(0.9);
    transition-duration: 0.2s;
  }
}
