.left {
  width: 50%;
}
.right {
  width: 30%;
}

#card {
  width: 90%;
}

#header {
  position: relative;

  div {
    width: 60%;
  }
}

#icon-mod {
  position: absolute;
  right: 15px;
  bottom: -105px;
  width: 170px;
  transform: translateY(-100px);
}


@media screen and (max-width: 600px) {

  .left {
    width: auto;
    margin-left: 0;
  }

  .right {
    width: auto;
  }

  #card {

    #icon-mod {
      width: 150px;
      right: 5px;
    }
  }
}
