<ion-header>
  <ion-toolbar>
    <ion-title>infogroup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <button class="txt-capital purple-btn" routerLink="/tabs/tab1">
      indietro
    </button>
  </div>

  <div *ngFor="let i of central.groups" class="ion-margin">
    <!-- <div *ngIf="users.i">Content to render when condition is true.</div> -->
    <div *ngIf="i.id === this.iddi" class="txt-capital">
      <h1 style="margin-bottom: 0; color: rgb(166, 166, 255);">{{i.name}}</h1>
      <h5 style="color: rgb(204, 204, 204);">{{i.description}}</h5>
    </div>
  </div>

  <div *ngFor="let i of central.users" style="margin-left: 3em;" class="txt-capital">
    <div *ngIf="i.group === this.iddi">
      <h2>{{i.name}}</h2>
    </div>
  </div>

</ion-content>
